<!doctype html>
<html lang="en" ng-app="practice">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-controller="controller">
    <p letters steve="Roger" text="banana" >practice</p>
    <p letters steve="Amy">Test 2</p>

    <div style="height:50px;width:50px;background: black" contrallah stuff="lat" JessieJames="long">

    </div>
    <input ng-model="lat">
    <input ng-model="long">




    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="letter.js"></script>
    <script src="contrallah.js"></script>

</body>
</html>